.form {
    position: relative;
    z-index: 2;
    width: 200px;
    padding: 34px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 10px;
}

.form__label {
    display: block;
    text-align: left;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 21px;
}