@import '../../scss/colors.scss';

.login {
    background-color: $primary;
    min-height: 100vh;

    .form__container {
        position: relative;
        z-index: 2;
        margin-top: -230px;
        margin-bottom: 25px;
        display: inline-block;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        svg {
            position: absolute;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
            top: 0;

            path {
                stroke-dasharray: 0 1183;
            }
        }

        .text--secondary {
            position: relative;
            margin: 20px auto;
            width: 200px;
            height: 1px;
            background-color: black;
        }

        .text--secondary::before {
            top: -11px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            content: "OU";
            background-color: white;
            width: 70px;
            font-style: italic;
        }
    }

    
}