.navbar {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;

    .nav__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-left: auto;

        .nav__item {
            color: black;
            font-size: 1.063rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 27px;
            border-top: 3px solid transparent;
            transition: border-top 200ms ease-in-out;

            svg {
                margin-left: 5px;
            }
        }

        .nav__item:hover {
            border-top: 3px solid black;
        }

        .nav__item:nth-child(2n) {
            margin-left: 25px;
        }
    }
}