.input {
    width: 90%;
    padding: 0 5%;
    height: 42px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: none;
    background-color: #F6F6F6;
    font-style: italic;
    font-size: 1.125rem;
    font-family: 'Raleway' !important;
    outline: none;
}

.input:last-of-type {
    margin-bottom: 34px;
}

